/* @import "../../common/stylus/icons.styl" */
.ratings
  position absolute
  top 175px
  bottom 0px
  left 0
  overflow hidden
  .seller-score
    display flex
    padding 18px 0
    .seller-score-left
      flex 0 0 137px
      border-right 1px solid rgba(7,17,27,0.1)
      text-align center
      width 137px
      padding 6px 0
      @media only screen and (max-width 320px)/* 在不同的情况下样式可能会发生变化 */
        flex 0 0 120px
        width 120px
      .scroe
        font-size 24px
        color rgb(255,153,0)
        line-height 28px
        margin-bottom 6px
      .title
        font-size 12px
        color rgb(7,17,27)
        line-height 12px
        margin-bottom 8px
      .rank
        font-size 10px
        color rgb(147,153,159)
        line-height 20px
    .seller-score-right
      flex 1
      padding 6px 0 6px 24px
      @media only screen and (max-width 320px)
        padding-left 6px
      .scroe-wrapper
        margin-bottom 8px
        line-height 18px
        font-size 0px
        .title
          display inline-block
          vertical-align top
          line-height 18px
          color rgb(7,17,27)
          font-size 12px
        .star
          display inline-block
          vertical-align top
          margin 0 12px
        .score
          display inline-block
          vertical-align top
          font-size 12px
          line-height 18px
          color rgb(255,153,0)
      .delivery-wrapper
        font-size 0
        .delivery-title
          font-size 12px
          line-height 18px
          color rgb(7,17,27)
        .delivery-time
          font-size 12px
          line-height 18px
          color rgb(147,153,159)
          margin-left 12px
  .ratings-wrapper
    padding 0 18px
    .rating-item
      display: flex
      padding 18px 0
      border-bottom 1px solid rgba(7,17,27,0.1)
      .avatar
        flex 0 0 28px
        margin-right 12px
        img
          border-radius 50%

      .content
        flex 1
        position relative
        .name
          font-size 10px
          color rgb(7,17,27)
          line-height 12px
          margin-bottom 4px
        .star-wrapper
          margin-bottom 6px
          .star
            display inline-block
            vertical-align top
            margin-right 6px
          .delivery-time
            display inline-block
            vertical-align top
            font-size 10px
            font-weight 200
            line-height 12px
            color rgb(147,153,159)
        .text
          font-size 12px
          line-height 18px
          color rgb(7,17,27)
        .recommend
          margin-top 8px
          .icon-thumb_up
            display inline-block
            font-size 12px
            color rgb(0,160,220)
            line-height 16px
          .recommend-item
            display inline-block
            margin-left 8px
            border-radius 2px
            border 1px solid rgba(7,17,27,0.1)
            background-color rgb(255,255,255)
            .text
              padding 2px 6px
              display inline-block
              font-size 9px
              color rgb(147,153,159)
              line-height 16px
        .time
          display inline-block
          position absolute
          right 0px
          top 0px
          font-size 10px
          color rgb(147,153,159)
          line-height 12px
          font-weight 200
