/* @import "../../common/stylus/icons.styl" */
.orderDetail
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  background #E4E7E4
  .title
    margin 8px 12px
    padding 12px
    .icon-返回
      display inline-block
      font-size 12px
      color rgb(7,17,27)
    .text
      display inline-block
      font-size 18px
      font-weight 700px
      line-height 18px
      color rgb(7,17,27)
  .order-item-detail
    margin 8px 12px
    padding 12px
    background #FFF
    border-radius 1px
    .seller-name
      display inline-block
      font-size 14px
      padding 8px 0
      color rgb(7,17,27)
    .icon-keyboard_arrow_right
      display inline-block
      font-size 14px
      color rgb(7,17,27)
    .orderUL
      padding 8px 0
      border-top 1px solid rgba(7,17,27,0.1)
      border-bottom 1px solid rgba(7,17,27,0.1)
      margin 8px 0
      .order-item
        display flex
        padding  4px 0
        border-bottom 1px solid rgba(7,17,27,0.1)
        .icon
          flex  00 57px
          img
            border-radius 4px
        .content
          flex 1
          margin-left 10px
          position relative
          .name
            margin 2px 0 8px 0
            height 14px
            line-height 14px
            font-size 14px
            color rgb(7,17,27)
          .extra
            position absolute
            left 0px
            bottom 10px
            line-height 10px
            font-size 10px
            color rgb(147,153,159)
          .count
            margin-left 12px
          .price
            font-weight 700
            line-height 24px
            position absolute
            right 0
            top:0
            .new
              margin-right 8px
              font-size 14px
              color rgb(240,20,20)
            .old
              color rgb(147,153,159)
              text-decoration line-through
              font-size 10px
    .delivery-wrapper
      border-bottom 1px solid rgba(7,17,27,0.1)
      padding 8px 0
      .delivery-price
        display table
        margin-top 6px
        width 100%
        .price
          display inline-block
          vertical-align top
          float left
          font-size 14px
          line-height 14px
          margin-bottom 4px
        .text
          display inline-block
          vertical-align top
          float right
          font-size 14px
          line-height 14px
    .total-wrapper
      padding 10px 0
      .text
        font-size 14px
        color rgb(7,17,27)
        margin-left 4px
      .special-price
        font-size 14px
        color rgb(240,20,20)
      .total-price
        font-size 16px
        color rgb(240,20,20)
  .delivery-information
    margin 8px 12px
    padding 12px
    background #FFF
    border-radius 1px
    margin-top 8px
    .title
      display inline-block
      font-size 14px
      padding 8px 0
      color rgb(7,17,27)
      width 100%
      border-bottom 1px solid rgba(7,17,27,0.1)
    .deliveryul
      .delivery-table
        display table
        margin-top 6px
        width 100%
        .text-left
          display inline-block
          vertical-align top
          float left
          font-size 14px
          line-height 14px
          margin-bottom 4px
        .text-right
          display inline-block
          vertical-align top
          float right
          font-size 14px
          line-height 14px
