/* @import "../../common/stylus/icons.styl" */
.cartAdd
  font-size 0
  .move-enter-active, .food .move-leave-active
    transition: all 0.3s linear;
    transform: translate3d(0, 0, 0);
  .move-enter, .food .move-leave
    transform: translate3d(24px, 0, 0);
  .decrease
    display inline-block
    color rgb(0,160 220)
    padding 6px
    .inner
      line-height 24px
      font-size 24px
    /* .icon-remove_circle_outline:before
      content: "\e906" */
  .count
    display inline-block
    line-height 24px
    font-size 10px
    vertical-align top
    text-align center
    padding-top 6px
    color rgb(147,153,159)
  .add
    display inline-block
    padding 6px
    color rgb(0,160 220)
    .icon-add_circle
      line-height 24px
      font-size 24px
    /* .icon-add_circle:before
      content: "\e900"
*/
