.submit-wrapper
  position fixed
  width 100%
  left 0px
  bottom 0px
  z-index: 50
  height 48px
  background #141d27
  .submit-content
    display flex
    font-size 0
    height 48px
    .submit-left
      flex 1
      padding-left 8px
      .total-price
        display inline-block
        vertical-align top
        font-weight 700
        font-size 16px
        line-height 48px
        color #FFF
        padding-right 8px
        border-right 1px solid color rgba(255,255,255,0.4)
      .specal-price
        vertical-align top
        height 48px
        display inline-block
        font-size 12px
        line-height 48px
        font-weight 200
        color rgba(255,255,255,0.4)
      .line1px
        display inline-block
        width 1px
        height  24px
        line-height 24px
        margin-top 12px
        margin-right 5px
        background-color rgba(255,255,255,0.4)




    .submit-right
      flex  0 0 105px
      width 105px
      background #00b43c
      .confirm-pay
        height 48px
        line-height 48px
        text-align center
        font-weight 700
        color: #fff
        font-size 14px
